@import url('App.css');
@import url('./pages/Login.css');
@import url('./pages/Chat.css');

* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    color: var(--text-primary);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#root {
    --primary-color: #4E426D;
    --secondary-color: #5C4F81;
    --accent-color: #3BC4B7;
    --highlight-color: #EFAA86;
    --text-primary: #F8EEE7;
    --text-red: #DA0037;

    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

.modal-dialog {
    --primary-color: #4E426D;
    --secondary-color: #5C4F81;
    --accent-color: #3BC4B7;
    --highlight-color: #EFAA86;
    --text-primary: #F8EEE7;
    --text-red: #DA0037;
}

.modal-dialog * {
    color: black;
}

body {
    color: var(--text-primary);
}

input:focus, input:focus-visible {
    outline: none;
    border: 1px solid var(--accent-color);
}

input, button {
    border: none;
}

input {
    color: black;
    padding: 0 2%;
}

button {
    background-color: transparent;
}